/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121321;
    color: #f4f4f4;
}

section {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(90deg,
        #9c27b0,
        #f3f5f5);
    transform: translate(150px, 100px);
}

section::after {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(90deg,
            #9c27b0,
            #f3f5f5);
    transform: translate(-150px, -100px);
}

.container {
    width: 375px;
    height: 225px;

    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);

    position: absolute;
    z-index: 100;
}

header {
    display: flex;
    justify-content: space-between;

    margin: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;

    margin-right: 5px;
}

.logo h6 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.chip {
    width: 45px;
    height: 30px;
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 50px 25px 25px 25px;
}

.details h6 {
    font-size: 10px;
    font-weight: 400;
}

.details h5 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.details .name {
    font-size: 16px;
    font-weight: 400;

    margin-top: 18px;
}

.date h6{
    font-size: 10px;
    font-weight: 300;
}

.date h5{
    font-size: 15px;
    font-weight: 300;
}