/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    width: 380px;
    height: 200px;
}

.container .card {
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    background-color: #000;
    border-radius: 25px;

    padding: 25px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;

    margin-right: 10px;
}

.logo h6 {
    font-size: 16px;
    letter-spacing: 1px;
}

.chip {
    width: 60px;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 60px;
}

.detail h6 {
    font-size: 15px;
    font-weight: 200;
}

.detail h5 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.detail h4 {
    font-size: 18px;
    font-weight: 500;

    margin-top: 25px;
}

.date h6 {
    font-size: 14px;
    font-weight: 400;
}

.date h5 {
    font-size: 16px;
    font-weight: 300;
}