/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: #121321;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

section::before {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);

    transform: translate(150px , 100px);
}

section::after {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);

    transform: translate(-150px , -100px);
}

.container {
    width: 375px;
    height: 225px;
    position: relative;
    z-index: 100;
}

.container .card {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);

    padding: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 48px;

    margin-right: 5px;
}

.logo h5 {
    font-size: 16px;
    font-weight: 400;
    color: #f4f4f4;
}

header .chip {
    width: 45px;
}

.card-details {
    color: #f4f4f4;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 50px;
}

h6 {
    font-size: 10px;
    font-weight: 400;
}

h5 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.valid-date h5 {
    font-size: 14px;
}

.name {
    font-size: 16px;
    font-weight: 400;

    margin-top: 18px;
}

.card.back-face {
    border: none;
}

.card.back-face h6 {
    font-size: 8px;
    color: #f4f4f4;
}

.card.back-face .magnetic-strip {
    position: absolute;
    left: 0;
    top: 45px;

    width: 100%;
    height: 50px;

    background-color: #000;
}

.card.back-face .signature {
    width: 80%;
    height: 35px;
    background: repeating-linear-gradient(
        #fff,
        #fff 3px,
        #efefef 0px,
        #efefef 9px
    );
    border-radius: 5px;

    margin-top: 75px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card.back-face i {
    font-size: 12px;
    background-color: #d9d4d4;
    border-radius: 5px;

    margin-right: -28px;
    padding: 5px;

    z-index: -1;
}

